@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@600&display=swap');
*{
    margin:0;
    list-style: none;
    text-decoration: none;
}
body{
    color: rgba(18, 31, 62, 0.6);
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.24)), url('img/BG.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}
h3{
    font-weight: bold;
}
h4, p{
    text-align: justify;
}
.hidden{
    display: none;
}
.row{
    width: 100%;
    align-items: center;
}

.row-desc{
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 20px;
}

.col{
    width: 100%;
    height: 100%;
}
#header-container{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    transition: .01s;
}
.navbar{
    height: 70px;
    /* border: 1px solid blue; */
}
#logo-web{
    /* border:1px solid blue; */
    height: 100%;
    padding: 0px 20px;
    align-items: center;
}
#nav-list{
    align-items: center;
    height: 100%;
    width: 100%;
}
#nav-list a{
    color: rgba(18, 31, 62, 0.6);
    padding: 5px 10px;
    margin-right: 2em;
    font-size: 1.2em;
    text-decoration: none;
    transition: .5s;
}
#nav-list a:hover>li{
    text-shadow:rgba(0, 117, 255, 0.4);
    color: rgba(0, 117, 255, 0.4);
    /* box-shadow: 0px 0px 5px blue; */
    /* color:#080028; */
    transform: scale(1.05);
    /* background-color: #e2dea9; */
    border-radius: 5px;
}

/* Home */
#home-page{
    margin-top: 100px;
    width: 100%;
    height: 700px;
    /* border:1px solid red; */
    align-items: center;
    justify-content: space-around;
}
#big-title{
    height: 700px;
    /* border:1px solid blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#big-title h1{
    font-size: 50px;
    font-weight: 800;
}

#big-img{
    height: 700px;
}
.home-button1{
    background-color: #D6F6F0;
    padding: 10px 25px;
    border-radius: 15px;
    color: rgba(0, 117, 255, 1);
    transition: .05s;
    border: none;
}
.home-button1:hover{
    transform: scale(1.05);
    /* transform:translate(1px, 1px); */
    box-shadow: 1px 1px 10px #e2dea9;
}

.home-button2{
    background-color: #0075FF;
    padding: 10px 25px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.8);
    transition: .05s;
    border: none;
}
.home-button2:hover{
    transform: scale(1.05);
    /* transform:translate(1px, 1px); */
    box-shadow: 1px 1px 10px #e2dea9;
}

/* saham */
#saham-page{
    font-style: normal;
    font-weight: 200;
    margin-top: 100px;
    padding: 15px 25px;
    width: 95%;
    min-height: 700px;
    /* border:1px solid red; */
    border-radius:30px;
    align-items: center;
    justify-content: space-around;
}

/* calc */
#calc-saham{
    /*background-color: rgba(0, 0, 0, .45); */
    margin-top: 100px;
    padding: 15px 25px;
    width: 95%;
    min-height: 700px;
    /* border:1px solid red; */
    border-radius:30px;
    align-items: center;
    justify-content: space-around;
}
#calc-container{
    width: 100%;
    margin-right: 0;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}
#form-calc{
    width: 100%;
    min-height: 170px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius:15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.form-saham{
    width: inherit;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    padding: 2px 2px;
    /* identical to box height */
    background-color: #d3f2fc;
    color: #0075FF;
    border-radius: 10px;
}
#result-calc{
    padding: 4px 13px;
    margin-top: 10px;
}
#result-calc 
#pil-saham{
    width: inherit;
    word-wrap: break-word;
}
#pil-saham option{
    overflow-wrap: break-word;
    width: 100px;
}
.form-saham:hover{
    background-color: white;
}

#result-container{
    width: 100%;
    min-height: 170px;
    padding: 10px;
    background-color:#88d1f169;
    border-radius:15px;
    align-items: center;
    justify-content: space-around;
}
#stock-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
}
#stock-image table{
    width: 100%;
}
table, th, td{
    padding: 2px 10px;
}

/* about */
#about{
    background-color: #88d1f169;
    margin-top: 100px;
    padding: 15px 25px;
    width: 95%;
    min-height: 700px;
    /* border:1px solid red; */
    border-radius:30px;
    align-items: center;
    justify-content: space-around;
}